$ns-purple: #8200FF;
$ns-white: #ffffff;
$ns-gray-100: #f0f3f4;
$ns-gray-200: #cccccc;
$ns-gray-300: #9a9a9a;
$ns-gray-500: #717171;
$ns-gray-700: #5c5f61;
$ns-gray-900: #333333;
$ns-yellow: #e48f00;
$ns-success: #12b76a;
$ns-danger: #eb0013;
